*,h1,h2,h3,h4,h5,h6,p,a,nav,ul,li,col,span,label,audio,video{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
.container{
    max-width:1240px;
    margin-right: auto;
    margin-left: auto;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: #f6f6f7;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
	max-width: 2560px;
}
a:hover{
	text-decoration: none;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
@font-face {
	font-family:Oswald;
	src: url(/fonts/Oswald-Light.ttf) format("truetype"),
		 url(/fonts/Oswald-Medium.ttf) format("truetype"),
		 url(/fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansCyrl;
	src:url(/fonts/MuseoSansCyrl-500.ttf) format("truetype"),
		url(/fonts/MuseoSansCyrl-700.ttf) format("truetype"),
		url(/fonts/museosanscyrl-300.ttf) format("truetype"),
		url(/fonts/museosanscyrl-900.ttf) format("truetype");
}
.row{
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
}
.header_wrapper{
	background-color: #ffffff;
	position: relative;
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 15px;
}
nav .navbar-brand h4{
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.03px;
	color: #000000;
	text-align: left;
}
nav .navbar-brand sup{
	width: 5px;
	height: 7px;
	top: -15px;
    right: 0;
	font-family:'HK Grotesk';
	font-size: 6px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
nav .navbar-brand .voice-matter sup{
	font-size: 4px;
	width: 4px;
	top: -8px;
    right: 0;
} 
nav .navbar-brand span{
	font-family: 'Oswald', sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.5px;
	color: #070707;
	}
nav.navbar {
	padding: 0;
	padding-top: 8px;
	padding-bottom: 7px;
}
.navbar-expand-md .navbar-nav {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.navbar-brand {
	width: 131px;
	height: 47px;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.navbar-nav .nav-item{
	padding-left: 30px;
	position: relative;
}
.navbar-expand-md .navbar-nav .nav-link{
	padding: 0;
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.16px;
	color: #000000;
}
.navbar-nav > .nav-item:hover > ul.inner-menu-list{
	height: auto;
	transition: 3s all linear;
	list-style: none !important;
}
.inner-menu-list span.icon-wrapper {
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 100%;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
}
.menu_wrap {
    position: relative;
    z-index: 4;
}
.inner-menu-list img{
	width: 36px;
}
.nav-link .form-control {
	width: 210px;
	height: 17px;
	border: none;
}
.form-control {
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #848b9a;
}
.dropdown .nav-link{
	padding: 0;
	padding-left:8px;
}
.navbar-nav .nav-link img , .navbar-nav .nav-link .fa{
	width: 16px;
	height: 16px;
	float: left;
	margin-right:12px ;
}
.Search {
	width: 14px;
	height: 14px;
	color: #848b9a;
}
.navbar-nav .nav-link .Notif  {
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: left;
	margin-right: 0;
}
 .nav-link .badge {
	position: absolute;
	right:-12px;
	top: -12px;
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 10px;
	line-height: normal;
	border-radius: 7px;
	color: #fff;
	border: solid 2px #ffffff;
	background-color: #2c54e0;
}
.dropdown-menu{
	top: 36px;
	right: 0px;
	left: unset;
	width: 300px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #e5e5e5;
	background-color: #ffffff;
	padding-bottom: 0px;
	padding: 0px;
}
.dropdown-menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 12px;
	border-radius: 1px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border:solid 1px #e5e5e5;
	border-color:#e5e5e5;
}
.notification-box{
	padding: 11px 12px; 
	border-bottom: solid 1px #e5e5e5;
}
.notification-box p{
	font-family: 'MuseoSansCyrl', sans-serif ;
	font-size: 12px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 0.17px;
	color: #0a1735;
}
.notification-box p .text{
	font-weight: 500;
}
.notification-box .left img.bg-primary{
	width: 36px;
    height: 36px;
    padding: 11px;
    border-radius: 50%;
	background-color: #2c54e0;
}
.notification-box img{
	width: 36px;
	height: 36px;
}
.notification-box .left{
	width: 20%;
	float: left;
}
.notification-box .right{
	width: 75%;
	float: left;
}
.dropdown.profile-icon a img{
	width:32px;
	margin-left: 10px;
}
.hero-wrapper{
	float: left;
	width: 100%;
}
.leftcolumn {   
	float: left;
	width: 24%;
}
.middlecolumn{
	width: 57%;
	margin: 0 11px;
}
.rightcolumn {
	float: left;
	width: 26%;
}
.card{
	border-radius: 3px;
	border: solid 1px #e5e5e5;
	background-color: #ffffff;
	margin-bottom: 16px;
}
.card-top{
	padding: 15px 15px 0;
  }
  h5.card-title{
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.23px;
	color: #000000;
	text-transform: uppercase;
  }
  .card .card-title{
	  margin-bottom: 15px;
  }
  .card .topics-wrap ul li img{
	width: 20px;
	height: 20px;
	object-fit: contain;
	color: #2c54e0;
	margin-right: 20px;
  }
	.show-more{
	font-family:'MuseoSansCyrl', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.23px;
	color: #848b9a;
  }
.card-footer{
	text-align: center;
	padding: 13px 20px 15px;
	background-color: #ffffff;
	border-radius: 3px;
	border-top: solid 1px #e5e5e5;
}
  .card .topics-wrap ul li a{
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	color: #2c54e0;
  }
  .card ul li{
	  margin-top: 5px;
	  margin-bottom: 20px;
	  text-align: left;
  }
  .card ul{
	  list-style: none;
	  align-items: center;
  }
 
h6{
	font-family:'MuseoSansCyrl', sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.31px;
	color: #0a1735;
	text-align: left;
}
.card .voiced_wrap ul li img{
	width: 36px;
	height: 36px;
	object-fit: contain;
	margin-right: 10px;
}
.card .voiced_wrap li{
	display: flex;
	align-items: center;
}
.card .btn-outline-light {
   padding: 6px 17px;
	border-radius: 1.5px;
	border: solid 0.5px #979ca9;
	color: #979ca9;
	text-align: center;
}
.card button { 
	font-family:'Museo Sans Cyrl', sans-serif;
	font-size: 10px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.14px;
	
}
.yellow-oval{
	display: flex;
	flex-wrap: wrap;
	border-radius: 50%;
	border: solid 1px #feb505;
	background-color: #feb505;
	justify-content: center;
	color: #ffffff;
}
.card .list-group-item:last-child{
	border-bottom: none;
}
.product-card h6{
	width: 30px;
	height: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.04px;
	padding: 1px;
}
.list-group-item {
	padding: 15px 15px;
	margin: 0;
	border: 0;
	border-radius: 3px;
	border-bottom: solid 1px #e5e5e5;;
}
.card .product-card ul li {
    margin-top: 0; 
    margin-bottom: 0; 
}
.product-card .left{
	width: 86%;
	float: left;
	padding-right: 10px;
}
.product-card .right{
	width: 12%;
	float: left;
}
.product-card h5.card-title{
	margin-bottom: 0;
}
.product-card h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.09px;
	color: #000000;
}	
.form-box .form-control {
	height: 50px;
	border: solid 1px rgba(102, 135, 249, 0.29);
	background-color: #ffffff;
    box-shadow: none;
    width: 100% !important;
}
.form-box{
	position: relative;
	width: 100%;
	padding: 15px 0;
}
.post-content {
    display: flex;
    flex-wrap: nowrap;
}
img.profile-photo-md {
    height:45px;
    width: 45px;
}
.list-group .post-content .post-detail {
    margin-left: 10px;
    position: relative;
}
.post-detail p{
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.31px;
	color: #848b9a;
}
h4 .profile-link{
	color: #0a1735 !important;
	font-family: 'MuseoSansCyrl', sans-serif;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.36px;
}

.post-detail span.text-muted{
	font-weight: 300;
	color: #848b9a !important;
	margin-left: 10px;
	margin-right: 10px;
}
.post-content .post-detail .user-info img.more-icon{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 4px;
}
 .post-detail .post-text p{
	line-height: 1.71;
	letter-spacing: 0.2px;
	color: #0a1735;
	margin-top: 10px;
 }
.post-detail .reaction a img {
	width: 18px;
	height: 16px;
	margin-right: 15px;
}
.post-detail .reaction a.text-comment img {
	width: 17px;
	height: 16px;
}
.post-detail .reaction a.text-share img {
	width: 21px;
	height: 16px;
}
.post-content .post-detail .reaction a{
	font-family: 'MuseoSansCyrl', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #848b9a;
	padding: 0;
	padding-right: 30px;
	display: inline;
}
.post-detail .reaction{
	margin-top: 16px;
}
p.text-muted.post{
	font-size: 10px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.19px;
	color: #848b9a !important;
}
p.share-post.post img{
	width: 13px;
	height: 10px;
	margin-right: 7px;
}
p.share-post.text-muted.post{
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.27px;
	color: #9ea3b3;
	margin-left: 35px;
	margin-bottom: 10px;
}